.note-container {
    position: absolute;
    border: 1px solid black;
    background-color: yellow;
    padding: 10px;
}
.note-container.selected {
    outline: 1px solid blue;
}
.note-container textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
}