.container {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 190px - 96px);
    border: 4px solid #7b4806;
    background: url('board-background.png');
}
.container:focus {
    outline: 0px;
}