.container {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 190px - 96px);
    background-color: #fdfdfd;
    box-shadow: inset 0px 0px 12px 0px rosybrown;
}
.container:focus {
    outline: 0px;
}